@import "tailwindcss";

@theme {
  /* Screens */
  /* --breakpoint-sm: 480px; */
  /* --breakpoint-md: 768px; */
  --breakpoint-lg: 992px;
  /* --breakpoint-xl: 1440px; */

  /* Brand Color (Orange) */
  --color-brand-base: hsl(12, 88%, 59%);
  --color-brand-light: hsl(12, 88%, 72%);

  /* Typography Color (Blue/Gray) */
  --color-text-base: hsl(228, 39%, 23%);
  --color-text-light: hsl(227, 12%, 61%);
  --color-text-white: hsl(0, 0%, 100%);

  /* Background Color (Neutrals) */
  --color-bg-base: hsl(0, 0%, 100%);
  --color-bg-light: hsl(0, 0%, 98%);
  --color-bg-dark: hsl(233, 12%, 13%);

  /* Typography */
  --font-sans: "Be Vietnam Pro", sans-serif;

  /* Background Images */
  --background-image-tablet-pattern: url("../images/bg-tablet-pattern.svg");
  --background-image-simplify-mobile: url("../images/bg-simplify-section-mobile.svg");
  --background-image-simplify-desktop: url("../images/bg-simplify-section-desktop.svg");

  /* Z-Indexes */
  --z-index-backdrop: 30;
  --z-index-modal: 40;
  --z-index-toggle: 50;
}

/* 400 Regular */
@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../fonts/BeVietnamPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 500 Medium */
@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../fonts/BeVietnamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 700 Bold */
@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../fonts/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@utility bg-body-pattern {
  background-image:
    var(--background-image-tablet-pattern),
    var(--background-image-tablet-pattern);
  background-repeat: no-repeat, no-repeat;
  background-size: 28rem, 20rem;
  background-position:
    top -7rem right -8rem,
    top 28rem right -12rem;

  @media (width >= 992px) {
    background-size: 42rem, 44rem;
    background-position:
      top -8rem right -2rem,
      top 60rem left -24rem;
  }
}

@utility bg-simplify-pattern {
  background-image: var(--background-image-simplify-mobile);
  background-repeat: no-repeat;
  background-position: top 2rem left 0;

  @media (width >= 992px) {
    background-image: var(--background-image-simplify-desktop);
    background-position: top -6rem left 12rem;
  }
}

/* Provided Styles */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
